﻿@using RecruitmentPortal.Services.Entities
@model IEnumerable<Customer>
@{
    ViewBag.Title = "AllUsers";
}

<section class="applicants mini-padding">
    <div class="container">
        <div class="row mb-4">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Recruitment Portal</a></li>
                                <li class="breadcrumb-item active" aria-current="page">All Applicants</li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="/Admin/Index">Index</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                    <th>@Html.DisplayNameFor(model => model.Lastnamme)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>@Html.DisplayNameFor(model => model.Gender)</th>
                    <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.FirstName</td>
                        <td>@item.Lastnamme</td>
                        <td>@item.Email</td>
                        <td>@item.Gender</td>
                        <td>@item.PhoneNumber</td>
       
                    </tr>

                }
            </tbody>
        </table>
    </div>
</section>

