﻿@using RecruitmentPortal.Services.Entities
@model IEnumerable<Applications>
@{
    ViewBag.Title = "ApplicantJobs";
}

<section class="category-list mini-padding">
    <div class="container">
        <div class="row mb-4">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Recruitment Portal</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Index</li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="/Admin/Index">Dashboard</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>@Html.DisplayNameFor(model => model.Customer.FirstName)</th>
                    <th>@Html.DisplayNameFor(model => model.Customer.Lastnamme)</th>
                    <th>@Html.DisplayNameFor(model => model.ApplicationStatus)</th>
                    <th>@Html.DisplayNameFor(model => model.DateOfApplication)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Customer.FirstName</td>
                    <td>@item.Customer.Lastnamme</td>
                    <td>@item.ApplicationStatus</td>
                    <td>@item.DateOfApplication</td>
                </tr>

                }
            </tbody>
        </table>
    </div>
</section>

