﻿@model RecruitmentPortal.Services.ViewModels.ApplicantViewModel
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="dashboard.htm#">
                            <span data-feather="home"></span>
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Category/Index">
                            <span class="fa fa-file mr-2"></span>
                            Categories
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Jobs/Index">
                            <span class="fa fa-bacon mr-2"></span>
                            Jobs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/JobsApplicants">
                            <span class="fa fa-users-cog mr-2"></span>
                            Applicants
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Application/Applicants">
                            <span class="fa fa-book-reader mr-2"></span>
                            Applications
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/AllUsers">
                            <span class="fa fa-book-reader mr-2"></span>
                            All Users
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Saved reports</span>
                    <a class="d-flex align-items-center text-muted" href="dashboard.htm#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="dashboard.htm#">
                            <span data-feather="file-text"></span>
                            Current month
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="dashboard.htm#">
                            <span data-feather="file-text"></span>
                            Last quarter
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="dashboard.htm#">
                            <span data-feather="file-text"></span>
                            Social engagement
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="dashboard.htm#">
                            <span data-feather="file-text"></span>
                            Year-end sale
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Admin Dashboard</h1>
                <div class="btn-toolbar mb-2 mb-md-0">

                    <div class="btn-group mr-2">
                        <a class="nav-link" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Messages -->
                            <span class="badge badge-danger badge-counter">3+</span>
                        </a>
                        <a class="nav-link" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-envelope fa-fw"></i>
                            <!-- Counter - Messages -->
                            <span class="badge badge-danger badge-counter">7</span>
                        </a>

                    </div>
                </div>
            </div>
            @*Content Row*@
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-prmary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Jobs</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.NumberOfJobs</div>
                            </div>
                            <div class="auto"><i class="fa fa-bacon fa-2x text-gray-300"></i></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-prmary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Users</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.Users</div>
                            </div>
                            <div class="auto"><i class="fa fa-users fa-2x text-gray-300"></i></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-prmary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Categories</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.Categories</div>
                            </div>
                            <div class="auto"><i class="fa fa-file fa-2x text-gray-300"></i></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-prmary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Applications</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.Applicants</div>
                            </div>
                            <div class="auto"><i class="fa fa-users-cog fa-2x text-gray-300"></i></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-prmary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Accepted Requests</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.AcceptedRequests</div>
                            </div>
                            <div class="auto"><i class="fa fa-clipboard-list fa-2x text-gray-300"></i></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-prmary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Pending Requests</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.PendingRequests</div>
                            </div>
                            <div class="auto"><i class="fa fa-comments fa-2x text-gray-300"></i></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-prmary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Rejected Requests</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.RejectedRequests</div>
                            </div>
                            <div class="auto"><i class="fa fa-comments fa-2x text-gray-300"></i></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        </main>
    </div>
</div>

