﻿@using RecruitmentPortal.Services.Entities
@model IEnumerable<Jobs>
@{
    ViewBag.Title = "JobsApplicants";
}
<section class="category-list mini-padding">
    <div class="container">
        <div class="row mb-4">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Recruitment Portal</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Job Applicants</li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="/Admin/Index">Dashboard</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>@Html.DisplayNameFor(model => model.JobTitle)</th>
                    <th>@Html.DisplayNameFor(model => model.JobType)</th>
                    <th>@Html.DisplayNameFor(model => model.JobPosition)</th>
                    <th>@Html.DisplayNameFor(model => model.EmployerName)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.JobTitle</td>
                        <td>@item.JobType</td>
                        <td>@item.JobPosition</td>
                        <td>@item.EmployerName</td>
                        <td class="">
                            <div class="w-75 btn-group" role="group">
                                <a href="/Admin/ApplicantJobs/@item.Id" class="btn btn-primary mx-2" title="All Applicants">View Applicants</a>                              
                            </div>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
        @*else
            {
                <p class="text-center">No Category Exists</p>
            }*@
    </div>
</section>

