﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/all.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            @Html.ActionLink("Recruitment", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active mr-3">
                        @Html.ActionLink("Home", "Index", "Home", new { @class = "nav-link" })
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link" href="/Customer/Dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link" href="/Customer/Dashboard">Find Jobs</a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>

    </nav>
<div class="body-content">
    @RenderBody()
    <section class="copyright py-2 text-white fixed-bottom">
        <div class="container">
            <div class="row justify-content-center align-items-center text-center">
                <div class="col mx-auto">
                    <p class="mb-0">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </div>
            </div>
            
        </div>
    </section>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/all.min.js"></script>
</body>
</html>
