﻿@model RecruitmentPortal.Services.Entities.Category
@{
    ViewBag.Title = "Edit";
}
    <section class="mini-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Recruitment Portal</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Edit Category</li>
                                    <li class="breadcrumb-item active" aria-current="page"><a href="/Category/Index" class="breadcrumb-link">Back to List</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-7">
                    <div class="card">
                        <h5 class="card-header">Validation State</h5>
                        <div class="card-body px-4 py-3">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "" })

                                    @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                                </div>
                                <input type="submit" value="Update" class="btn btn-primary" />

                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

