﻿@using RecruitmentPortal.Services.Entities
@model IEnumerable<Category>

    @{
        ViewBag.Title = "Index";
    }

    <section class="category-list mini-padding">
        <div class="container">
            <div class="row mb-4">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Recruitment Portal</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Index</li>
                                    <li class="breadcrumb-item active" aria-current="page"><a href="/Category/Create">Create Category</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.Count() > 0)
            {
                <table class="table table-bordered table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.CategoryName</td>
                                <td class="text-center">
                                    <div class="w-75 btn-group" role="group">
                                        <a href="/Category/Edit/@item.Id" class="btn btn-primary mx-2" title="Edit"><i class="fa fa-edit"></i></a>
                                        <a href="/Category/Details/@item.Id" class="btn btn-success mx-2" title="Details"><i class="fa fa-info"></i></a>
                                        <a href="/Category/Delete/@item.Id" class="btn btn-danger mx-2" title="Delete"><i class="fa fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="text-center">No Category Exists</p>
            }
        </div>
    </section>

   

