﻿@media (max-width: 1199px) {
    .job-new-list {
        padding: 30px 20px 25px;
    }
        .job-new-list .vc-thumb {
            /*float: left;*/
            width: 60px;
            height: 60px;
        }
            /*.job-new-list .vc-thumb img {
                max-width: 45px;
            }*/
}
