﻿body {
    font-family: "Playfair Display", serif;
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}
/* Section browse*/
.job-wrap {
    border: 1px solid #dadada;
    padding: 40px 0;
}
    .job-wrap:hover:before {
        content: '';
        position: absolute;
        left: 15px;
        bottom: 0px;
        border-bottom: 40px solid #ed1c24;
        border-right: 40px solid transparent;
        z-index: 1000;
    }
    .job-wrap:hover:after {
        content: '';
        position: absolute;
        right: 15px;
        top: 0px;
        border-top: 40px solid #ed1c24;
        border-left: 40px solid transparent;
        z-index: 1000;
    }
.job-icon .svg-inline--fa {
    font-size: 50px;
    color: #000;
}
.job-wrap:hover .svg-inline--fa {
    color: #ed1c24;
}
.job-title a {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}
.read-btn {
    margin-top: 20px;
}
    .read-btn a {
        text-decoration: none;
        background: #ed1c24;
        font-size: 15px;
        color: #fff;
        padding: 16px 38px;
        display: inline-block;
        font-weight: bold;
        text-transform: uppercase;
    }
    /*ehdj*/
.worksIcon {
    width: 120px;
    height: 120px;
    background: #ed1c24;
    display: inline-block;
    line-height: 114px;
    font-size: 48px;
    color: #fff;
    border-radius: 100px;
    position: relative;
    border: 5px solid #fff;
}
.works-service h3 {
    font-size: 18px;
    color: #3f3d59;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
}
.works-service p {
    font-size: 14px;
    color: #888888;
    line-height: 24px;
}
.works-service .col-md-4:nth-child(2) .worksIcon {
    background: #00aeef;
}
.works-service .col-md-4:nth-child(3) .worksIcon {
    background: #8bc34a;
}
/*Fetaure*/
.featured-wrap {
    background: #efefef;
}
.listWrpService {
    padding: 15px;
    background: #fff;
    margin: 15px 0;
    border: 1px solid #e0e0e0;
}
    .listWrpService .col-md-9 {
        padding-left: 0;
    }
.featured-wrap h3 {
    margin-top: 0;
    margin-bottom: 5px;
}
.featured-wrap p {
    font-weight: 600;
    margin-bottom: 0px;
}
.featureInfo li:nth-child(1) {
    padding-left: 0;
    border-left: none;
}

.featureInfo li {
    display: inline-block;
    padding: 0px 6px 0 10px;
    border-left: 1px solid #e0e0e0;
    font-size: 14px;
}
.featureInfo .svg-inline--fa {
    color: #00aeef;
    padding-right: 5px;
}
.time-btn {
    display: inline-block;
    background: #ed1c24;
    padding: 6px 18px;
    color: #fff;
    float: left;
    margin-right: 5px;
    font-weight: bold;
}
.click-btn {
    margin-top: 10px;
}
    .click-btn a {
        text-decoration: none;
        display: inline-block;
        background: #00aef0;
        padding: 6px 18px;
        color: #fff;
        font-weight: bold;
    }
/*Helper CSS*/
.Pending{
    color: #4e73df;
}
.Rejected{
    color: #ff0000;
}
.Accepted{
    color: #00a94f;
}
.form-control:focus{
    box-shadow: none;
    border: 1px solid #00a94f;
}
.heading-title span {
    color: #00aeef;
}
nav.col-md-2.d-none.d-md-block.bg-light.sidebar{
    height: 100vh;
}
a.btn.btn-primary.mx-2 {
    background: cadetblue;
}
h4 {
    font-size: 1.5rem;
}.card-header{
     background: #00a94f;
     color: #ffffff;
 }
 .btn-primary, .btn-primary:hover, .btn-primary:focus{
     background: #00a94f;
     color: #fff;
     border: none;
 }
.mini-padding{
    padding: 50px 0px;
}
h5, h6 {
    color: #2D3954;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
}
a, a:hover {
    color: #2D3954;
    text-decoration: none;
}
/*Banner*/
.banner {
    background: #00a94f;
    top: 0;
    z-index: 100;
}
.banner-form .form-control{
    border-radius: 0 !important;
}
.search-btn, .search-btn:hover, .search-btn:focus {
    background: #ed1c24;
    border-color: #ed1c24;
    color: #ffffff;
    box-shadow: none;
}
/*Popular Jobs*/
.card-body hr {
    margin: 1.5rem;
    border-top: 1px dashed #ecedef;
}
.card-body h5 a:hover{
    color: #00a94f;
}
.card-text {
    font-size: 18px;
    margin-bottom: 5px;
}
.apply-btn-popular{
    border-color: #00a94f;
    color: #00a94f;
    background: #ffffff;
    border-radius: 50px;
}
    .apply-btn-popular:hover{
        background:#00a94f;
        color: #ffffff;
        border-color: #00a94f;
    }
    /*Index page section heading*/
    .section-heading p {
        margin-bottom: 5px;
        font-style: italic;
        line-height: 1;
        margin-bottom: 10px;
        font-family: 'Crimson+Text';
    }
.section-heading h2 {
    font-weight: 700;
}
/*Jobs Category*/
.cat {
    border-top: 1px solid #dae1ea;
    border-right: 1px solid #dae1ea;
    margin-top: -1px;
    padding: 2.5rem 1.5rem;
}
    .cat:hover {
        background: #00a94f !important;
        background-color: #00a94f !important;
        color:#fff;
    }
    .cat:hover .svg-inline--fa{
        color: #ffffff;
    }
    .cat-box .svg-inline--fa {
        font-size: 3rem;
        transition: .4s;
        color: #00a94f;
        margin-bottom: 1rem;
        display: inline-block;
    }
.cat-box h4 {
    font-size: 16px;
    transition: .4s;
    margin-bottom: 2px;
    line-height: 26px;
    color: #0e1111;
    font-weight: 700;
}
/*Popular Jobs*/
.job-new-list {
    background-color: #fff;
    border: 1px solid #e7ebf1;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 30px 30px 25px;
    position: relative;
    -webkit-transition: all .3s ease 0;
    -moz-transition: all .3s ease 0;
    -o-transition: all .3s ease 0;
    transition: all .3s ease 0;
}
    .job-new-list .vc-thumb {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 35px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #edf1f5;
    }
.apply-btn {
    border-color: #00a94f !important;
    background: #00a94f !important;
}
.job-new-list .vc-content .title {
    margin-bottom: 2px;
    font-size: 18px;
    color: #2D3954;
    font-weight: 600;
}
            .job-new-list .vc-content .title > span {
                padding: 4px 10px;
                margin-left: 7px;
                font-size: 11px;
                border-radius: 3px;
                font-family: 'Muli',sans-serif;
                font-weight: 600;
            }
.j-full-time {
    color: #27b737;
    background: rgba(39,183,55,0.1);
}
.job-new-list .vc-content p {
    font-size: 14px;
    margin-bottom: 2px;
}
.vc-info-list{
    margin:0;padding:0;
}
.vc-content .location{
    color: #FFD700;
}
.list-inline-item {
    font-size: 14px;
}
    .list-inline-item h5 {
        font-size: 14px;
        margin-bottom: 2px;
    }
.skills span {
    background: #e7ebf1;
    margin: 5px;
    border-radius: 50px;
    padding: 2px 9px;
    display: inline-block;
    font-size: 12px;
}
/*Subscribe Section*/
.subscribe, .job-category {
    background: #eeeeee;
}
.subscribe .search-btn {
    background: #0b0c10;
    color: #ffffff;
    border: 1px solid #0b0c10 !important;
}
.padding {
    padding: 100px 0;
    position: relative;
}
/*Copyright Section*/
.copyright {
    background-color: #00a94f;
}
/*Footer*/
.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #ed1c24;
    color: #ffffff;
}
.footer h4{
    font-size: 1.25rem;
}
.footer .lead{
    font-size: 0.95rem;
}
.btn-social {
    border-radius: 100%;
    border-color: #ffffff; display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
button.btn.btn-outline-secondary.search-btn {
    background-color: #ed1c24;
    border: 1px solid #ed1c24 !important;
}
/*Customer Index*/
.sign-up-card-parent {
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.07), 0 3px 1px -2px rgba(0,0,0,.1), 0 1px 5px 0 rgba(0,0,0,.06);
}

.margin-top--10 {
    margin-top: 10px !important;
}
.sign-up-card {
    flex-direction: column;
    padding: 60px 60px 50px;
    align-items: center;
    justify-content: space-between;
    min-height: 460px;
}

.sign-up-card, .sign-up-card-parent {
    display: inline-flex;
    width: 100%;
    position: relative;
}
.align--center {
    align-items: center;
}

.justify--center {
    justify-content: center;
}

.flex-wrapper-column, .if-wrapper-column {
    position: relative;
    flex-direction: column;
    width: 100%;
}

.flex-wrapper-column {
    display: flex;
}
.max-width--80 {
    max-width: 80px;
}
.font-size-22 {
    font-size: 1.375rem;
}

.margin-top--30 {
    margin-top: 30px !important;
}
.text--center {
    text-align: center;
}

.margin-top--0 {
    margin-top: 0 !important;
}
.justify--flex-end {
    justify-content: flex-end !important;
}
.width--100-perc {
    width: 100%;
}
.desktop-right-divider:before {
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50px;
    bottom: 50px;
    width: 1px;
    background-color: #eee;
}
@media (max-width: 768px) {
    .padding-lr--10-under-sm {
        padding-right: 10px;
        padding-left: 10px;
    }
}

/*Enquiry Section*/
.btn-circle.btn-lg{
    height: 4.5rem;
    width: 4.5rem;
    font-size: 1.55rem;
}
.btn-circle {
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.large--icon-successful {
    width: 48px !important;
    max-width: 100% !important;
}
.btn--primary, .btn--submit {
    color: #fff;
    background-color: #ff6200;
}
.font-size{
    font-size: 20px;
}
.customer-section .jumbotron {
    background: #ffffff;
}
.customer-section .customer-login .svg-inline--fa {
    width: 50px;
    height: 50px;
    border: 5px solid #00a94f;
    border-radius: 50px;
    padding: 10px;
}
.customer-section .customer-login h4 {
    color: #00a94f;
}
.customer-section .customer-login:first-child {
    border-right: 1px solid #00a94f;
}

/*Admin Dashboard*/
.border-left-primary {
    border-left: .25rem solid #4e73df !important;
}
.text-gray-300 {
    color: #dddfeb !important;
}
.text-gray-800 {
    color: #5a5c69 !important;
}
.badge-counter {
    position: absolute;
    transform: scale(.7);
    left: 25px;
    top: 0px;
    /*transform-origin: top right;*/
    /*right: .25rem;*/
    /*margin-top: -.25rem;*/
}
.text-xs {
    font-size: .7rem;
}
/*All Applicantions*/
.jb-view{
    background: none;
}
.jb-view a{
    color: #00a94f;
}
.app-details{
    font-weight: 600;
}