﻿@using RecruitmentPortal.Services.Entities
@model IEnumerable<Jobs>
@{
    ViewBag.Title = "AllJobs";
}

<section class="featured-wrap mini-padding">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-sm-6">
                    <div class="listWrpService">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <div class="listImg">
                                    <img src="images/feature01.png" />
                                </div>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <h3><a href="#">@item.JobTitle</a></h3>
                                <p>@item.JobPosition</p>
                                <span>@item.EmployerName</span>
                                <ul class="featureInfo">
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>@item.EmployerLocation</li>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>@item.UploadDate</li>
                                </ul>
                                <div class="time-btn">@item.JobType</div>
                                <div class="click-btn"><a href="/Application/Index/@item.Id">Apply Now</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>

