﻿@model RecruitmentPortal.Services.Entities.Jobs
@{
    ViewBag.Title = "Create Jobs";
}

    <section class="mini-padding create-category">
        <div class="container">
            <div class="row mb-4">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Recruitment Portal</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Post Jobs</li>
                                    <li class="breadcrumb-item active" aria-current="page"><a href="/Jobs/Index">Back to List</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center mb-5">
                <div class="col-md-10">
                    <div class="card">
                        <h5 class="card-header">Post Job</h5>
                        <div class="card-body px-4 py-3">
                            @using (Html.BeginForm(new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()

                            <div>

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.JobTitle, htmlAttributes: new { @class = "" })

                                            @Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.JobType, htmlAttributes: new { @class = "" })

                                            @Html.EditorFor(model => model.JobType, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.JobType, "", new { @class = "text-danger" })

                                        </div>
                                    </div>

                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CategoryID, "CategoryID", htmlAttributes: new { @class = "" })
                                            @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.EmployerName, htmlAttributes: new { @class = "" })

                                            @Html.EditorFor(model => model.EmployerName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.EmployerName, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.EmployerLocation, htmlAttributes: new { @class = "" })

                                            @Html.EditorFor(model => model.EmployerLocation, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.EmployerLocation, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.JobDescription, htmlAttributes: new { @class = "" })                             
                                    @Html.TextAreaFor(model => model.JobDescription, new { htmlAttributes = new { @class = "form-control", rows = "3", cols = "20"} })
                                    @Html.ValidationMessageFor(model => model.JobDescription, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.JobPosition, htmlAttributes: new { @class = "" })

                                            @Html.EditorFor(model => model.JobPosition, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.JobPosition, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.UploadDate, htmlAttributes: new { @class = "" })

                                            @Html.EditorFor(model => model.UploadDate, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.UploadDate, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">

                                    <input type="submit" value="Post Job" class="btn btn-primary" />
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

