﻿@model RecruitmentPortal.Services.Entities.Jobs
@{
    ViewBag.Title = "Details";
}


<section class="mini-padding">
    <div class="container">
        <div class="row mb-4">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Recruitment Portal</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Jobs Details</li>
                                <li class="breadcrumb-item" aria-current="page"><a href="/Jobs/Index">Back to List</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <dl class="dl-horizontal">


                    <dt>
                        @Html.DisplayNameFor(model => model.JobTitle)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.JobTitle)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.JobType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.JobType)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.JobPosition)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.JobPosition)
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.EmployerName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EmployerName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EmployerLocation)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EmployerLocation)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.JobDescription)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.JobDescription)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.UploadDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UploadDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Category.CategoryName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Category.CategoryName)
                    </dd>
                </dl>
            </div>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</section>