﻿@using RecruitmentPortal.Services.Entities
@model IEnumerable<Applications>
@{
    ViewBag.Title = "AllApplications";
}

<section class="mini-padding">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                       Job Applications
                    </div>
                    <div class="card-body">
                        <p class="card-text">Manage and track the status of your job applications.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        @foreach (var item in Model)
                        {
                            <li class="list-group-item">
                                <div class="details -emp mb-3">
                                    <h5>@item.Jobs.JobTitle</h5>
                                    <h6>@item.Jobs.JobType</h6>
                                    <p class="mb-0">@item.Jobs.EmployerLocation</p>
                                    <p class="mb-0">@item.Jobs.EmployerName</p>
                                </div>

                                <div class="details-jb mb-3">
                                    <span class="pr-4"><i class="fa fa-suitcase mr-2"></i>@item.Jobs.JobPosition</span>
                                    <span><i class="fa fa-map-marked-alt mr-2"></i>@item.Jobs.EmployerLocation</span>
                                </div>
                                <div class="details-app mb-3">
                                    <p class="mb-0"><span class="app-details">Application Date: </span>@item.DateOfApplication</p>
                                    <p class="mb-0 @item.ApplicationStatus"><span >Status: </span>@item.ApplicationStatus</p>
                                </div>
                                <div class="card-footer text-right jb-view">
                                    <a href="#">View</a>
                                </div>
                            </li>
                        }
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>
</section>

