﻿@using RecruitmentPortal.Services.Entities
@model IEnumerable<Applications>
@{
    ViewBag.Title = "Applicantions";
}
<section class="applicants mini-padding">
    <div class="container">
        <div class="row mb-4">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Recruitment Portal</a></li>
                                <li class="breadcrumb-item active" aria-current="page">All Applications</li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="/Home/Index">Index</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>@Html.DisplayNameFor(model => model.ApplicationStatus)</th>
                    <th>@Html.DisplayNameFor(model => model.DateOfApplication)</th>
                    <th>@Html.DisplayNameFor(model => model.Jobs.JobTitle)</th>
                    <th>@Html.DisplayNameFor(model => model.file)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.ApplicationStatus</td>
                        <td>@item.DateOfApplication.ToString()</td>
                        <td>@item.Jobs.JobTitle</td>
                        <td>@item.file</td>
                        <td class="">
                            <div class="w-75 btn-group" role="group">
                                <a href="/Application/Details/@item.Id" class="btn btn-primary mx-2" title="View" target="_blank">View</a>
                                <a href="/Application/Accept/@item.Id" class="btn btn-success mx-2" title="Accept">Accept</a>
                                <a href="/Application/Reject/@item.Id" class="btn btn-danger mx-2" title="Reject">Reject</a>
                            </div>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</section>


