﻿@model RecruitmentPortal.Services.Entities.Applications
@{
    ViewBag.Title = "Enquiry";
}

<section class="mini-padding">
    <div class="container">
        <div class="row justify-content-center align-items-center py-4 text-center">
            <div class="col-lg-12 mb-5">
                <div class="icons mb-5">
                    <a href="#" class="btn btn-success btn-circle btn-lg">
                        <i class="fa fa-check"></i>
                    </a>
                </div>
                
                <h1 class="text-center mb-4">Application Submitted!</h1>
                <h2 class="mb-3">
                    Your application and CV for Factory Manager has been submitted successfully.
                </h2>
                <p>If you don't hear back from the Employer please consider your application unsuccessful.</p>
            </div>
            <div class="col-lg-12 mb-5">
                <div class="row justify-content-center align-items-center">

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <a href="/Home/Index" class="btn btn-primary btn-block py-3 font-size">
                            <i class="fa fa-backward mr-3"></i>
                            Back to Available Jobs
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <a href="/Application/AllApplications" class="btn btn-primary btn-block py-3 font-size">
                            <i class="fa fa-eye mr-3"></i>
                            View your job applications
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

