﻿@model RecruitmentPortal.Services.ViewModels.ApplicationViewModel
@{
    ViewBag.Title = "Index";
}
<section class="mini-padding">
    <div class="container">
        <div class="row mb-4">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Recruitment Portal</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Job Application</li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="/Home/Index">Index</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            @foreach (var item in Model.Jobs)
            {
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            Job Details
                        </div>
                        <div class="card-body">
                            <h6 class="card-title jb-title">@item.JobTitle</h6>
                            <p class="jb-employer">@item.EmployerName</p>
                            <p class="card-text jb-description mb-3">@item.JobDescription</p>
                            <p class="jb-category">@item.Category.CategoryName</p>
                            <p class="jb-location">@item.EmployerLocation | <span>@item.JobType</span></p>
                            <h6 class="mb-3">
                                Upload a CV to apply for this Job. <br />No larger than 10MB. Supported file types .PDF .DOC .DOCX .RTF
                            </h6>
                            @using (Html.BeginForm("Index", "Application", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                        <div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                
                                @Html.EditorFor(model => model.file, new { htmlAttributes = new { @class = "", @type = "file" } })
                            </div>
                            <div class="form-group">
                                <input type="submit" value="APPLY NOW" class="btn btn-primary" />
                            </div>
                        </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

