﻿@using RecruitmentPortal.Models
@model LoginViewModel
@{
    ViewBag.Title = "ApplicantLogin";
}

    <section class="mini-padding">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-7">
                    <div class="card">
                        <h5 class="card-header">Applicant Login</h5>
                        <div class="card-body px-4 py-3">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                            <div>

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "" })

                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "" })

                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group">
                                    <div>
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            @Html.LabelFor(m => m.RememberMe)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p>Don't have an account? <span><a href="/Customer/ApplicantRegistration">Sign up</a></span></p>
                                </div>
                                <div class="form-group">

                                    <input type="submit" value="Login" class="btn btn-primary" />
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

