﻿
@{
    ViewBag.Title = "Index";
}
<section class="padding customer-section">
    <div class="container">
        <div class="row justify-content-center align-items-center text-center mb-4">
            <div class="col-lg-6 mx-auto">
                <h3>Create your Account</h3>
            </div>
        </div>
        <div class="sign-up-card-parent margin-top--10 margin-top--0-under-sm">

            <div class="sign-up-card desktop-right-divider">
                <div class="flex-wrapper-column align--center justify--center">
                    <img class="max-width--80" alt="Job Seeker" src="~/Images/" />
                    <h2 class="font-size-22 margin-top--30">Job Seeker</h2>
                    <p class="margin-top--0 text--center">
                        Are you looking for your dream job?
                        <br />Create a unique career profile with Jobberman
                    </p>
                </div>
                <div class="flex-wrapper-column justify--flex-end">
                    <a class="btn btn--primary width--100-perc" href="/Customer/ApplicantRegistration" rel="nofollow">Applicant Sign Up</a>
                </div>
                </div>
            <div class="sign-up-card desktop-right-divider">
                <div class="flex-wrapper-column align--center justify--center">
                    <img class="max-width--80" alt="Job Seeker" src="~/Images/" />
                    <h2 class="font-size-22 margin-top--30">Employer</h2>
                    <p class="margin-top--0 text--center">
                        Are you looking for quality candidates?
                        <br />Advertise and search with Jobberman
                    </p>
                </div>
                <div class="flex-wrapper-column justify--flex-end">
                    <a class="btn btn--primary width--100-perc" href="/Customer/EmployeeRegistration" rel="nofollow">Employer Sign Up</a>
                </div>
            </div>
            </div>

        @*<div class="row justify-content-center align-items-center">
            <div class="col-lg-10 mx-auto">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-6 customer-login px-3 py-3 text-center">
                            <div>
                                <i class="fa fa-user"></i>
                            </div>
                            <h4 class="mb-3">Job Seeker</h4>
                            <p class="lead">Create a unique career profile with Recruitment Portal</p>
                            <a class="btn btn-primary btn-block" href="/Customer/ApplicantLogin" role="button">Applicant Sign Up</a>
                        </div>
                        <div class="col-6 customer-login px-3 py-3 text-center">
                            <i class="fa fa-journal-whills"></i>
                            <h4 class="mb-3">Employer</h4>
                            <p class="lead">Advertise and Search for Qualify Applicants</p>
                            <a class="btn btn-primary btn-block" href="/Customer/EmployerLogin" role="button">Employer Sign Up</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>*@
    </div>
</section>

